h1 {
    text-align: center;
}

div {
    text-align: center;
    height: 40px;
}

a {
    color: dodgerblue;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

a:hover,
a:active {
    color: red;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table th {
    font-size: 30px;
}

table td {
    font-size: 20px;
}

th,
td {
    text-align: center;
    width: 150px;
}